<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
   <Properties>
       <Property name="basePath">/data/smerp/logs</Property>
        <Property name="LOG_PATTERN">[%clr{%p}] %clr{%d{ABSOLUTE}}{red} %clr{[%6c]}{blue} %clr{%M:} %clr{%m}{magenta}%n%xwEx</Property>
   </Properties>

   <Appenders>
       <RollingFile name="fileLogger" fileName="${basePath}/smerp.log" filePattern="${basePath}/app-info-%d{yyyy-MM-dd}.log">
           <PatternLayout>
               <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} [%thread]  %-5level %logger{36}.%M - %msg%n</pattern>
           </PatternLayout>
           <Policies>
               <TimeBasedTriggeringPolicy interval="1" modulate="true" />
           </Policies>
       </RollingFile>

       <Console name="console" target="SYSTEM_OUT">
          <PatternLayout pattern="${LOG_PATTERN}" />
       </Console>
   </Appenders>
   <Loggers>
       <Logger name="com.smerp" level="debug" additivity="true">
           <appender-ref ref="fileLogger" level="debug" />
           <appender-ref ref="console" />
       </Logger>
       <Root level="info" additivity="false">
           <appender-ref ref="console" />
       </Root>
   </Loggers>
</Configuration>